pkgbase = systemd-charging-threshold
	pkgdesc = Systemd service that manages laptop charging threshold stored in /sys.
	pkgver = 1.1
	pkgrel = 3
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv7h
	arch = armv6h
	arch = aarch64
	license = MIT
	depends = systemd
	depends = linux>=5.4
	depends = git
	source = charging-threshold
	source = charging-threshold.path
	source = charging-threshold.service
	sha256sums = 6442bc26a7c562f5afe6467dab36365c709909f6a81afcecfc0c25cff0f1bab0
	sha256sums = be8264ea5186ae8d2fbe63ded04a35c0161fb3a707e7064241d8bc9196b0a980
	sha256sums = 6fbfe5a6fbfceafe5a13fc84aecf0b8326b6d595f414c124d60eb373abca6e4d

pkgname = systemd-charging-threshold
